[mysqld]
default-authentication-plugin = mysql_native_password
skip-host-cache
skip-name-resolve

## gtid
gtid_mode = on
enforce_gtid_consistency = on

## binary log
log-bin = mysql-bin
sync_binlog = 1
binlog_expire_logs_seconds = 864000
binlog_checksum=NONE

## replication
server_id = 1

# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin
transaction-isolation = READ-COMMITTED

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# 実行ログの設定
general_log = 1

innodb_lock_wait_timeout = 120

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
default-character-set = utf8mb4
